:root {
    --dg-childgrids-border-color: #ccc;
    --dg-childgrids-even-row-bg-color: #ffffff;
    --dg-childgrids-odd-row-bg-color: #f9f9f9;
    --dg-childgrids-row-border-width: 0.2rem;

    --dg-childgrids-item-font-size: 1.4rem;
    --dg-childgrids-header-font-size: 1.2rem;
    --dg-childgrids-header-font-color: #1976d2;
    --dg-childgrids-header-text-transform: uppercase;
    --dg-childgrids-header-font-weight: bold;
    --dg-childgrids-header-link-underline: underline;
    --dg-childgrids-header-topbottom-padding: 0.6rem;
    --dg-childgrids-header-rightleft-padding: 0.6rem;

    --dg-childgrids-sorting-asc-icon: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%20viewBox%3D%220%200%208%204%22%3E%3Cpolygon%20fill%3D%22rgba(154, 154, 154, 1)%22%20points%3D%220%2C0%204%2C4%208%2C0%20%22%2F%3E%3C%2Fsvg%3E");
    --dg-childgrids-sorting-desc-icon: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%20viewBox%3D%220%200%208%204%22%3E%3Cpolygon%20fill%3D%22rgba(154, 154, 154, 1)%22%20points%3D%220%2C4%204%2C0%208%2C4%20%22%2F%3E%3C%2Fsvg%3E");
    --dg-childgrids-sorting-icon-size: 1rem;

    --dg-childgrids-paging-specific-page-textbox-width: 6rem;

    --dg-childgrids-expander-size: 3.6rem;
    --dg-childgrids-expander-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='%23636363' d='M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062'/%3E%3C/svg%3E");
    --dg-childgrids-expander-icon-size: 2.4rem;
    --dg-childgrids-row-expansion-speed: 0.4s;
}